<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="stylesheet" href="logo.css">
        <script src="../../scripts/jquery-3.6.4.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <!-- <script src="../../constants/default.js"></script> -->
        <script src="logo.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="top">
                <div class="logo">
                    <img src="../../assets/images/CCRS_Circle.png" alt="CCRS" width="150" height="150">
                </div>
            </div>
        </div>
    </body>
</html>