@import "../../styles/colors.css";
@import "../../styles/index.css";

.events {
    float: right;
}

.event {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 8px;
    padding: 4px 0;
    transform: skew(-20deg);
    background-color: white;
    color: white;
    font-size: 24px;
    box-shadow: 2px 2px 8px 4px rgb(0 0 0 / 25%);
}

.event__player1, .event__type, .event__player2 {
    padding: 4px 12px 4px 12px;
}

.event__player1, .event__player2 {
    background-color: var(--ocrs-red);
}

.event__type {
    background-color: black;
}

.event__text {
    display: inline-block;
    transform: skew(20deg);
}
