<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="stylesheet" href="replay.css">
        <script src="../../scripts/jquery-3.6.4.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <!-- <script src="../../constants/default.js"></script> -->
        <!-- <script src="../../constants/teams.js"></script> -->
        <script src="replay.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="bottom">
                <div class="replay">
                    <div class="replay__stats replay__stats--top">
                        <div class="replay__stat replay__goalscorer">
                            <img class="replay__goalscorer__icon" src="../../assets/images/goal.png" alt="Goalscorer" width="48" height="48">
                            <div class="replay__goalscorer__value">Player</div>
                        </div>
                    </div>
                    <div class="replay__stats replay__stats--bottom">
                        <div class="replay__stat replay__ball-speed">
                            <img class="replay__ball-speed__icon" src="../../assets/images/speed.png" alt="Ball Speed" width="48" height="48">
                            <div class="replay__ball-speed__value">100 km/h</div>
                        </div>
                        <div class="replay__stat replay__assister">
                            <img class="replay__assister__icon" src="../../assets/images/assist.png" alt="Assited" width="48" height="48">
                            <div class="replay__assister__value">Player</div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>