@import "../../styles/colors.css";
@import "../../styles/index.css";

.current-player {
    display: inline-block;
    position: absolute;
    bottom: -16px;
    width: 444px;
    height: 160px;
    margin-left: 1192px;
    background-color: white;
    border-radius: 0 0 12px 12px;
    box-shadow: 2px 2px 8px 4px rgb(0 0 0 / 25%);
}

.current-player__name, .current-player__stats__values, .current-player__stats__labels, .current-player__boost {
    width: 100%;
    display: flex;
}

.current-player__name {
    height: 56px;
    background-color: var(--ocrs-red);
    font-size: 40px;
}

.current-player__name__school, .current-player__name__name {
    display: inline-block;
    padding: 6px 16px;
    text-align: center;
}

.current-player__name__school {
    color: white;
}

.current-player__stats__values {
    height: 56px;
    background-color: var(--ocrs-red-light);
    font-size: 36px;
}

.current-player__stats__labels {
    height: 32px;
    background-color: var(--ocrs-red);
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.current-player__stats__value, .current-player__stats__label {
    display: inline-block;
    width: calc(100% / 6);
    text-align: center;
}

.current-player__stats__value {
    padding: 8px 0;
}

.current-player__stats__label {
    padding: 6px 0;
}

.current-player__boost, .current-player__boost--fill {
    height: 16px;
    background-color: black;
    border-radius: 0 0 12px 12px;
}

.current-player__boost--fill {
    position: absolute;
    bottom: 0px;
    background-color: var(--ocrs-red);
    transition: width 0.25s;
}