<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="current-player.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <script src="../../scripts/colors.js"></script>
        <script src="current-player.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="bottom">
                <div class="current-player">
                    <div class="current-player__name">
                        <div class="current-player__name__school">
                            School
                        </div>
                        <div class="current-player__name__name">
                            Player
                        </div>
                    </div>
                    <div class="current-player__stats">
                        <div class="current-player__stats__values">
                            <div class="current-player__stats__value current-player__stats__value--goals">
                                00
                            </div>
                            <div class="current-player__stats__value current-player__stats__value--assists">
                                00
                            </div>
                            <div class="current-player__stats__value current-player__stats__value--shots">
                                00
                            </div>
                            <div class="current-player__stats__value current-player__stats__value--saves">
                                00
                            </div>
                            <div class="current-player__stats__value current-player__stats__value--touches">
                                00
                            </div>
                            <div class="current-player__stats__value current-player__stats__value--demos">
                                00
                            </div>
                        </div>
                        <div class="current-player__stats__labels">
                            <div class="current-player__stats__label current-player__stats__label--goals">
                                Goals
                            </div>
                            <div class="current-player__stats__label current-player__stats__label--assists">
                                Assists
                            </div>
                            <div class="current-player__stats__label current-player__stats__label--shots">
                                Shots
                            </div>
                            <div class="current-player__stats__label current-player__stats__label--saves">
                                Saves
                            </div>
                            <div class="current-player__stats__label current-player__stats__label--touches">
                                Touches
                            </div>
                            <div class="current-player__stats__label current-player__stats__label--demos">
                                Demos
                            </div>                        
                        </div>
                    </div>
                    <div class="current-player__boost"></div>
                    <div class="current-player__boost--fill"></div>
                </div> 
            </div>
        </div>
    </body>
</html>