<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="stylesheet" href="right-boost.css">
        <script src="../../scripts/jquery-3.6.4.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <!-- <script src="../../constants/default.js"></script> -->
        <!-- <script src="../../constants/teams.js"></script> -->
        <script src="right-boost.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="right">
                <div class="right-boost">
                    <div class="right-boost__player-container right-boost__player1">
                        <div class="right-boost__player">
                            <div class="right-boost__player__text">
                                <div class="right-boost__player__text__boost">0</div>
                                <div class="right-boost__player__text__name">Player 1</div>
                            </div>                       
                            <div class="right-boost__player__boost">
                                <div class="right-boost__player__boost--bg"></div>
                                <div class="right-boost__player__boost--fill"></div>    
                            </div>
                        </div>    
                    </div>
                    <div class="right-boost__player-container right-boost__player2">
                        <div class="right-boost__player">
                            <div class="right-boost__player__text">
                                <div class="right-boost__player__text__boost">0</div>
                                <div class="right-boost__player__text__name">Player 2</div>
                            </div>                       
                            <div class="right-boost__player__boost">
                                <div class="right-boost__player__boost--bg"></div>
                                <div class="right-boost__player__boost--fill"></div>    
                            </div>
                        </div>    
                    </div>
                    <div class="right-boost__player-container right-boost__player3">
                        <div class="right-boost__player">
                            <div class="right-boost__player__text">
                                <div class="right-boost__player__text__boost">0</div>
                                <div class="right-boost__player__text__name">Player 3</div>
                            </div>                       
                            <div class="right-boost__player__boost">
                                <div class="right-boost__player__boost--bg"></div>
                                <div class="right-boost__player__boost--fill"></div>    
                            </div>
                        </div>    
                    </div>
                    <div class="right-boost__player-container right-boost__player4">
                        <div class="right-boost__player">
                            <div class="right-boost__player__text">
                                <div class="right-boost__player__text__boost">0</div>
                                <div class="right-boost__player__text__name">Player 4</div>
                            </div>                       
                            <div class="right-boost__player__boost">
                                <div class="right-boost__player__boost--bg"></div>
                                <div class="right-boost__player__boost--fill"></div>    
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>