<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="replay.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <script src="../../scripts/colors.js"></script>
        <script src="replay.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="bottom">
                <div class="replay">
                    <div class="replay__goalscorer">
                        <span class="replay__goalscorer__label">Goalscorer:</span>
                        <span class="replay__goalscorer__name"></span>
                    </div>
                    <div class="replay__goal-info">
                        <div class="replay__goal-info__speed">
                            <div class="replay__goal-info__speed__label">Ball Speed:</div>
                            <div class="replay__goal-info__speed__value"></div>
                        </div>
                        <div class="replay__goal-info__assister">
                            <div class="replay__goal-info__assister__label">Assisted by:</div>
                            <div class="replay__goal-info__assister__name"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>