<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="stylesheet" href="current-boost.css">
        <script src="../../scripts/jquery-3.6.4.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <!-- <script src="../../constants/default.js"></script> -->
        <!-- <script src="../../constants/teams.js"></script> -->
        <script src="current-boost.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="bottom">
                <div class="current-boost">
                    <div class="current-boost__boost"></div>
                    <div class="current-boost__logo">
                        <img src="../../assets/images/CCRS_Circle.png" alt="CCRS" width="110" height="110">
                    </div>
                    <div class="current-boost__boost--fill"></div>
                    <div class="current-boost__boost--text">0</div>
                </div>
            </div>
        </div>
    </body>
</html>