<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="stylesheet" href="events.css">
        <script src="../../scripts/jquery-3.6.4.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <!-- <script src="../../constants/default.js"></script> -->
        <!-- <script src="../../constants/teams.js"></script> -->
        <script src="events.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="top">
                <div class="events"></div>
            </div>
        </div>
    </body>
</html>