:root {
    --default-blue: #042084;
    --default-blue-light: #042084BF;
    --default-orange: #D39928;
    --default-orange-light: #D39928BF;
    --ocrs-red: #CC2027;
    --ocrs-red-light: #CC2027BF;
}