@import "../../styles/colors.css";
@import "../../styles/index.css";

.right-boost__player {
    position: relative;
    width: 208px;
    height: 56px;
    margin-bottom: 8px;
    padding: 16px 24px 16px 12px;
    background-color: black;
    border-radius: 12px 0 0 12px;
    color: white;
    box-shadow: 2px 2px 8px 4px rgb(0 0 0 / 25%);
}

.right-boost__player__name {
    font-size: 32px;
    text-align: right;
}

.right-boost__player__boost__bar {
    width: 175px;
    float: right;
    margin-top: 4px;
}

.right-boost__player__boost--bg, .right-boost__player__boost--fill {
    height: 12px;
    background-color: rgba(32, 32, 32, 1);
    border-radius: 8px;
}

.right-boost__player__boost--fill {
    position: absolute;
    bottom: 15px;
    right: 24px;
    background-color: var(--ocrs-red);
    transition: width 0.25s;
}

.right-boost__player__boost__text {
    width: 25px;
    text-align: right;
    font-size: 18px;
}