<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="right-boost.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <script src="right-boost.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="right">
                <div class="right-boost">
                    <div class="right-boost__player right-boost__player1">
                        <div class="right-boost__player__name">
                            Player 1
                        </div>
                        <div class="right-boost__player__boost">
                            <div class="right-boost__player__boost__bar">
                                <div class="right-boost__player__boost--bg"></div>
                                <div class="right-boost__player__boost--fill"></div>    
                            </div>
                            <div class="right-boost__player__boost__text">
                                100
                            </div>
                        </div>
                    </div>
                    <div class="right-boost__player right-boost__player2">
                        <div class="right-boost__player__name">
                            Player 2
                        </div>
                        <div class="right-boost__player__boost">
                            <div class="right-boost__player__boost__bar">
                                <div class="right-boost__player__boost--bg"></div>
                                <div class="right-boost__player__boost--fill"></div>    
                            </div>
                            <div class="right-boost__player__boost__text">
                                100
                            </div>
                        </div>
                    </div>
                    <div class="right-boost__player right-boost__player3">
                        <div class="right-boost__player__name">
                            Player 3
                        </div>
                        <div class="right-boost__player__boost">
                            <div class="right-boost__player__boost__bar">
                                <div class="right-boost__player__boost--bg"></div>
                                <div class="right-boost__player__boost--fill"></div>    
                            </div>
                            <div class="right-boost__player__boost__text">
                                100
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>