<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="stylesheet" href="game-info.css">
        <script src="../../scripts/jquery-3.6.4.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <!-- <script src="../../constants/default.js"></script> -->
        <!-- <script src="../../constants/series-info.js"></script> -->
        <script src="game-info.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="top">
                <div class="game-info">
                    <div class="game-info__tournament">TOURNAMENT</div>
                    <div class="game-info__series">SERIES</div>
                </div>
            </div>
        </div>
    </body>
</html>