<html>
    <head>
        <meta name="author" content="Albert Pangilinan">
        <link rel="stylesheet" href="scorebug.css">
        <script src="../../scripts/jquery-3.6.4.min.js"></script>
        <script src="../../scripts/ws_subscribers.js"></script>
        <!-- <script src="../../constants/series-info.js"></script> -->
        <!-- <script src="../../constants/default.js"></script> -->
        <!-- <script src="../../constants/teams.js"></script> -->
        <script src="scorebug.js"></script>
    </head>
    <body>
        <div class="overlay">
            <div class="top">
                <div class="scorebug">
                    <div class="scorebug__timer">
                        <div class="scorebug__timer--text"></div>
                        <div class="scorebug__timer__time">0:00</div>
                    </div>
                    <div class="scorebug__score">
                        <div class="scorebug__score__goal-scored">
                            <div class="scorebug__score__goal-scored__team">GOAL</div> 
                        </div>    
                        <div class="scorebug__score__team--left">
                            <div class="scorebug__score__team__name">Blue</div>
                            <div class="scorebug__score__team__score">0</div>
                            <div class="scorebug__score__team__games-won">
                                <span class="scorebug__score__team__games-won__container scorebug__score__team__games-won__bo3"></span>
                                <span class="scorebug__score__team__games-won__container scorebug__score__team__games-won__bo5"></span>
                                <span class="scorebug__score__team__games-won__container scorebug__score__team__games-won__bo7"></span>
                            </div>
                        </div>
                        <div class="scorebug__score__team--right">
                            <div class="scorebug__score__team__name">Orange</div>
                            <div class="scorebug__score__team__score">0</div>
                            <div class="scorebug__score__team__games-won">
                                <span class="scorebug__score__team__games-won__container scorebug__score__team__games-won__bo3"></span>
                                <span class="scorebug__score__team__games-won__container scorebug__score__team__games-won__bo5"></span>
                                <span class="scorebug__score__team__games-won__container scorebug__score__team__games-won__bo7"></span>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
